In [68]:
import pandas as pd
data = pd.read_csv('house.csv')
data

,bedroom_count,net_sqm,center_distance,metro_distance,floor,age,price
0,1,26.184098,1286.68,204.003817,22,67,96004.804557
1,1,34.866901,1855.25,186.980360,8,30,92473.722568
2,1,36.980709,692.09,111.224999,24,24,98112.519942
3,1,17.445723,1399.49,237.998760,1,66,92118.326874
4,1,52.587646,84.65,100.996400,20,3,98976.653176
...,...,...,...,...,...,...,...
4303,9,175.166533,1299.71,217.739012,2,5,102707.356224
4304,6,215.352151,1346.36,77.724676,14,5,99695.064992
4305,5,299.563972,1585.37,235.537881,3,5,93803.715617
4306,1,29.193907,1896.23,147.223827,4,2,92914.729126
4307,2,54.437573,255.24,25.524020,18,0,93743.047292

In [69]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression

In [70]:
X = data.drop('price', axis=1)
y = data['price']
X

      bedroom_count     net_sqm  center_distance  metro_distance  floor  age
0                 1   26.184098          1286.68      204.003817     22   67
1                 1   34.866901          1855.25      186.980360      8   30
2                 1   36.980709           692.09      111.224999     24   24
3                 1   17.445723          1399.49      237.998760      1   66
4                 1   52.587646            84.65      100.996400     20    3
...             ...         ...              ...             ...    ...  ...
4303              9  175.166533          1299.71      217.739012      2    5
4304              6  215.352151          1346.36       77.724676     14    5
4305              5  299.563972          1585.37      235.537881      3    5
4306              1   29.193907          1896.23      147.223827      4    2
4307              2   54.437573           255.24       25.524020     18    0

[4308 rows x 6 columns]

In [71]:
y

0        96004.804557
1        92473.722568
2        98112.519942
3        92118.326874
4        98976.653176
            ...
4303    102707.356224
4304     99695.064992
4305     93803.715617
4306     92914.729126
4307     93743.047292
Name: price, Length: 4308, dtype: float64

In [72]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [73]:
# Predict on the testing set
y_pred = model.predict(X_test)

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
mae

1482.352808756555

In [74]:
rmse

2007.1816024621753

In [77]:
# Define new house features with explicit feature names
new_house_features = pd.DataFrame([[3, 20, 1187, 100, 19, 20]], columns=['bedroom_count', 'net_sqm', 'center_distance', 'metro_distance', 'floor', 'age'])

# Predict the price using the model
predicted_price = model.predict(new_house_features)

# Print the predicted price
predicted_price

array([94583.83334264])